$blueColor: #0f6af9;
$md-gray: #b4c7d6;
$input-background: #f4faff;
$input-border: #b4c7d6;
$input-border-focus: #0f6af9;
$input-stroke-amount: 1.68px;
$opacitySvg: 0.7;

.dflex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-direction-col {
  flex-direction: column;
}

.mt-2 {
  margin-top: 2em;
}

.mt-4 {
  margin-top: 4em;
}

.ml-15 {
  margin-left: 14px;
}

.calculator {
  background: #f6fbff;
  border: 1.8px solid #b4c7d6;
  border-radius: 1em;
  
}

.calculator__container {
  padding: 3.5em;
}

.grid {
  display: grid;
  grid-template-columns: 73% auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .grid__col1 {
    border-right: 3px dashed #ddd;
    margin-right: 45px;
    padding-right: 45px;
    // &::after {
    //   content: '';
    //   display: block;
    //   width: 20px;
    //   height: 20px;
    //   background-color: red;
    // }
    // background-color: aqua;
  }
  .grid__col2 {
    // background-color: #04aa6d;
  }
}

.grid__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 50%));
  grid-column-gap: 0em;
  grid-row-gap: 0.2em;
}

.grid__row--field {
  // background-color: #d3d3d3;
}

.grid__row--field {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  label {
    font-weight: bold;
    font-size: 1.1em;
    &.section-title {
      margin-bottom: 1.5em;
    }
  }
}

.is-invalid {
  border: 1.5px solid red !important;
  box-shadow: 0px 0px 8px #ff000073;
}

.cuadrado {
  display: block;
  width: 100px;
  height: 100px;
  &.rojo {
    background-color: red;
  }
  &.naranja {
    background-color: orange;
  }
  &.verde {
    background-color: green;
  }
}

form.calculator {
  .grid__row--field {
    .input-container {
      &.age {
        input[type="radio"][id^="cb"] {
          display: none;
        }
        .sub-label {
          color: #69737b;
          font-weight: bold;
        }
        label {
          box-shadow: 0px 0px 11px #ddd;
          border-radius: 11px;
          padding: 0px 10px;
          display: block;
          position: relative;
          cursor: pointer;
          box-shadow: 0px 0px 0 $input-stroke-amount $md-gray;
          width: 150px;
          background-color: $input-background;
          &:not(:last-child) {
            margin-right: 20px;
          }
          &:hover {
            background-color: darken($input-background, 2%);
          }
        }

        label:before {
          background-color: white;
          color: white;
          content: " ";
          display: block;
          border-radius: 50%;
          position: absolute;
          top: 17px;
          right: 19px;
          width: 35px;
          height: 35px;
          text-align: center;
          line-height: 28px;
          transition-duration: 0.4s;
          transform: scale(1);
          border: 1.4px solid $md-gray;
        }

        label img {
          max-height: 68px;
          transition-duration: 0.2s;
          transform-origin: 50% 50%;
          filter: grayscale(90%);
        }

        :checked + label {
          box-shadow: 0px 0px 0 1.4px #4ac683;
          background: #beffdc;
        }

        :checked + label:before {
          content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 31.541 29' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(4227.5 -463.85)' fill='%23f8fcff' data-name='Group 1926'%3E%3Cpath transform='translate(-4229.4 455.15)' d='m6.348 25.59c-1.906-2-4.954 1.048-2.953 2.953 2.477 2.573 4.954 5.24 7.526 7.717 1.144 1.048 2 1.048 3.049 0l18.2-18.1c1.906-2-1.048-5.049-3.049-3.049l-16.582 16.576-6.193-6.1z' fill-rule='evenodd'/%3E%3Cpath transform='translate(-4229.4 455.15)' d='M12.481,37.8a3.072,3.072,0,0,1-2.067-.983L10.4,36.8c-1.95-1.878-3.865-3.885-5.717-5.826-.6-.625-1.213-1.271-1.818-1.9a2.646,2.646,0,0,1-.677-2.968,3.045,3.045,0,0,1,2.734-1.921,2.685,2.685,0,0,1,1.969.887l.01.011,5.634,5.547L28.587,14.579a2.79,2.79,0,0,1,1.991-.873,3.034,3.034,0,0,1,2.716,1.871,2.789,2.789,0,0,1-.586,3.1l-.014.014-18.2,18.1A2.876,2.876,0,0,1,12.481,37.8Zm-1.047-2.083a1.794,1.794,0,0,0,1.047.583,1.533,1.533,0,0,0,.958-.567l18.19-18.1a1.294,1.294,0,0,0,.286-1.465,1.561,1.561,0,0,0-1.337-.962,1.309,1.309,0,0,0-.931.433l-17.1,17.1L5.7,26.006a1.154,1.154,0,0,0-.778-.32,1.557,1.557,0,0,0-1.341.978A1.147,1.147,0,0,0,3.912,28l.023.023c.611.635,1.232,1.286,1.833,1.915C7.608,31.866,9.51,33.859,11.435,35.714Z' data-name='np_checkmark_3345769_000000 - Outline'/%3E%3C/g%3E%3C/svg%3E");
          background-color: #4ac683;
          transform: scale(1);
          // padding: 7px;
          // padding-top: 4px;
          border: 1.4px solid #4ac683;
        }

        :checked + label img {
          transform: scale(1);
          z-index: -1;
          filter: grayscale(0%);
        }
      }
      &.anios {
        .input-field {
          width: 45%;
          margin: 0px 15px;
          white-space: nowrap;
        }
      }
      &.weight {
        .input-field {
          width: 45%;
          margin: 0px 15px;
          white-space: nowrap;
        }
      }
    }
  }
}

.grid__col2 {
  overflow: auto;
  .classification-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    .classification-item {
      width: 55%;
      img {
        max-width: 100%;
      }
    }
  }
}

svg {
  .normal {
    opacity: $opacitySvg;
    transition: all 280ms ease-out;
    &.in {
      opacity: 1;
    }
    &.out {
      opacity: 0.3;
    }
  }
  .underweight {
    opacity: $opacitySvg;
    transition: all 280ms ease-out;
    &.in {
      opacity: 1;
    }
    &.out {
      opacity: 0.3;
    }
  }
  .several-obesity {
    opacity: $opacitySvg;
    transition: all 280ms ease-out;
    &.in {
      opacity: 1;
    }
    &.out {
      opacity: 0.3;
    }
  }
  .obesity {
    opacity: $opacitySvg;
    transition: all 280ms ease-out;
    &.in {
      opacity: 1;
    }
    &.out {
      opacity: 0.3;
    }
  }
  .overweight {
    opacity: $opacitySvg;
    transition: all 280ms ease-out;
    &.in {
      opacity: 1;
    }
    &.out {
      opacity: 0.3;
    }
  }
}

.results {
  background: #f0f4f8;
  padding: 2em;
  margin-top: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  .imc,
  .actual-weight,
  .range-ideal-weight {
    text-align: center;
    color: #22382e;
    font-weight: 500;
  }
  .imc-results,
  .actual-weight-results,
  .range-ideal-weight-results {
    color: #000;
    font-weight: 500;
    font-size: 1.4em;
    margin-top: 0.3em;
  }
}
.errors {
  background: #ffdedc;
  padding: 1em 2em;
  margin-top: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  p {
    color: #f55151;
    margin-bottom: 0;
    font-size: 1em;
    &:first-child {
      margin-top: 0;
    }
    &:before {
      display: inline-block;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='13.5' viewBox='0 0 18 13.5'%3E%3Cg id='np_alert_1932931_000000' transform='translate(-2 -14)'%3E%3Cpath id='Path_1507' data-name='Path 1507' d='M27.739,14A5.145,5.145,0,0,0,22.6,19.137v5.137H32.915V19.137A5.2,5.2,0,0,0,27.739,14Zm-1.125,1.5a3.792,3.792,0,0,0-2.7,3.637v4.275h-.675V19.137a4.5,4.5,0,0,1,3.375-4.35Z' transform='translate(-16.739)' fill='%23d55c5b'/%3E%3Cpath id='Path_1508' data-name='Path 1508' d='M25.1,72.4H13.437A1.307,1.307,0,0,0,12.2,73.673a1.265,1.265,0,0,0,1.275,1.275h11.55A1.265,1.265,0,0,0,26.3,73.673,1.249,1.249,0,0,0,25.1,72.4Z' transform='translate(-8.287 -47.448)' fill='%23d55c5b'/%3E%3Cpath id='Path_1509' data-name='Path 1509' d='M82.111,18.284l1.125-.938a.372.372,0,0,0-.488-.563l-1.125.938a.359.359,0,0,0-.037.525A.364.364,0,0,0,82.111,18.284Z' transform='translate(-64.585 -2.185)' fill='%23d55c5b'/%3E%3Cpath id='Path_1510' data-name='Path 1510' d='M88.037,34.8H86.574a.376.376,0,0,0-.375.375.354.354,0,0,0,.375.375h1.463a.376.376,0,0,0,.375-.375A.354.354,0,0,0,88.037,34.8Z' transform='translate(-68.411 -16.901)' fill='%23d55c5b'/%3E%3Cpath id='Path_1511' data-name='Path 1511' d='M82.177,48.049a.372.372,0,1,0-.488.563l1.125.938a.372.372,0,0,0,.488-.563Z' transform='translate(-64.651 -27.6)' fill='%23d55c5b'/%3E%3Cpath id='Path_1512' data-name='Path 1512' d='M9.814,18.35a.364.364,0,0,0,.525-.037.4.4,0,0,0-.037-.525L9.176,16.85a.372.372,0,0,0-.488.563Z' transform='translate(-5.338 -2.251)' fill='%23d55c5b'/%3E%3Cpath id='Path_1513' data-name='Path 1513' d='M4.176,35.176A.376.376,0,0,0,3.8,34.8H2.375A.376.376,0,0,0,2,35.176a.354.354,0,0,0,.375.375H3.838A.37.37,0,0,0,4.176,35.176Z' transform='translate(0 -16.901)' fill='%23d55c5b'/%3E%3Cpath id='Path_1514' data-name='Path 1514' d='M10.273,48.026a.359.359,0,0,0-.525-.037l-1.125.938a.32.32,0,0,0-.037.487.359.359,0,0,0,.525.037l1.125-.938A.393.393,0,0,0,10.273,48.026Z' transform='translate(-5.273 -27.538)' fill='%23d55c5b'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-color: transparent;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      position: relative;
      top: 1px;
    }
  }
}

.actionsBox {
  display: flex;
  align-items: center;
}

// Generic For Styles

// Slider Component

.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 100px;
  background: $md-gray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $blueColor;
  cursor: pointer;
  box-shadow: 1px 2px 5px rgb(141, 137, 137);
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.input-field {
  input[type="number"] {
    background-color: $input-background;
  }
  input[type="number"]:hover {
    background-color: darken($input-background, 2%);
  }

  // input[type="number"]:invalid {
  //   background-color: $input-background;
  // }

  .form_input[type="number"] {
    &::placeholder {
      color: #b2c2ce;
    }
  }
  .form_input {
    border-radius: 10px;
    border: $input-stroke-amount solid $input-border;
    font-size: 2em;
    padding: 6px 10px;
    text-align: center;
    transition: all 240ms ease-in;
    &.ages {
      max-width: 100%;
    }
    &.weight {
      max-width: 100%;
    }
    &.height {
      max-width: 57%;
    }
    &:focus-visible {
      background-color: #fff;
      border: $input-stroke-amount solid transparent;
      outline: $blueColor solid $input-stroke-amount;
    }
  }
  label {
    color: #69737b;
    margin-left: 0.5em;
    margin-bottom: 0;
  }
}
button {
  &:focus {
    outline: 0;
  }
}
button.normal {
  background: $blueColor;
  border: 0;
  border-radius: 5px;
  padding: 8px 40px;
  cursor: pointer;
  transition: all 240ms ease-in;
  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
  }
  a:not([href]) {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
  }
  &:hover {
    background: lighten($blueColor, 5%);
  }
}

a:not([href]).nobg {
  margin-left: 10px;
  color: #007bff;
  padding: 8px 18px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 240ms ease-in;
  cursor: pointer;
  &:hover {
    background: lighten($blueColor, 41%);
  }
}

.measures-selectors {
  margin-top: 10px;
  .selector-btn {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: #f5efef;
    transition: all 240ms ease-in;
    &:first-child {
      border-radius: 10px 10px 10px 10px;
      margin-right: 10px;
    }
    &:last-child {
      border-radius: 10px 10px 10px 10px;
    }
    &.active {
      background: $blueColor;
      color: white;
      &:hover {
        background: lighten($blueColor, 5%);
      }
    }
    &:disabled {
      cursor: not-allowed;
      box-shadow: inset 3px 3px 0px #ddd;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}


@media screen and (max-width: 500px) /* Mobile */ { 
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .grid__col1 {
      border-right: 0px;
      margin-right: 0px;
      padding-right: 0px;
    }
    .grid__col2 {
      display: none;
    }
  }
  .calculator__container {
    padding: 1.5em;
  }
  .grid__row {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0em;
    grid-row-gap: 0.2em;
  }
  form.calculator {
    .grid__row--field {
      .input-container {
        &.age {
          transform: scale(0.8) translate(-53px, 0px);
        }
        &.anios {
          .input-field {
            margin-left: 0;
          }
        }
        &.weight {
          .input-field {
            margin-left: 0;
          }
        }
      }
    }
  }
  .grid__row--field {
    display: flex;
    flex-direction: column;
    padding-bottom: .4em;
    label {
      font-weight: bold;
      font-size: 1em;
      &.section-title {
        margin-bottom: 1.5em;
      }
    }
  }
  .feedback-box {
    width: fit-content;
  }
  .results {
    flex-direction: column;
  }
  .actual-weight, .range-ideal-weight {
    margin-top: 1em;
  }
}