<div class="grid-cards">
  <div [routerLink]="['/calculadora' , calc.name]" class="card" *ngFor="let calc of calculators" [class.disabled]="calc.isPrivate ? 'disabled': ''">
    <div class="image-container {{calc.name}}" >
      <div *ngIf="calc.isPrivate" class="in-progress">In Progress</div>
      <div class="reactions">
        <div class="likes">
          {{ this.calc?.countLikes }}
        </div>
        <div class="views">
          {{ this.calc?.countViews }}
        </div>
      </div>
      <div class="pic">
        <img [src]="calc.src" alt="">
      </div>
    </div>
    <div class="body-card">
      <h3>{{calc.headline}}</h3>
      <p>{{calc.byline}}</p>
    </div>
    <br>
  </div>
</div>


