.fade-in-image {
  animation: fadeIn 400ms ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-caption {
  animation: fadeInCaption 400ms ease-in;
}
@keyframes fadeInCaption {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-navigation {
  animation: fadeIn 400ms ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.move-up-down {
  animation: up 2s ease-in infinite  alternate;
}
@keyframes up {
  0% { transform: translate(0px, 0px); }
  100% { transform: translate(-10px, -25px); }
}

.move-down-up {
  animation: down 2.5s ease-in infinite  alternate;
}
@keyframes down {
  0% { transform: translate(-10px, -25px); }
  100% { transform: translate(0px, 0px); }
}

.emoji3d-move-down-up {
  animation: down1 3s ease-in infinite  alternate;
}
@keyframes down1 {
  0% { transform: translate(0px, -15px); }
  100% { transform: translate(0px, 0px); }
}

@media screen and (max-width: 500px) /* Mobile */ { 

  .move-up-down {
    animation: up 4s ease-in infinite  alternate;
  }

  .move-down-up {
    animation: down 4s ease-in infinite  alternate;
  }
}