// sides padding
$sides-padding: 10em;

// transitions
$btn-transitions: all 140ms ease-in;
$video-transitions: all 240ms ease-in;

// buttons
$border-radius-buttons: 8px;

$border-radius-boxes: 0.8em;
