<app-header [sectionTitle]="sectionTitle"></app-header>
<div class="container-grid news sides-padding">
  <div class="col2">
    <div class="container">
      <div class="titles">
        <h1>Terms Of Use</h1>
        <div class="line"></div>
      </div>

      <p><strong>Terms and Conditions of Use</strong></p>
      <p>
        Overall Parts Solutions, Inc., a Texas corporation, as well as its
        affiliates and subsidiaries, (collectively referred to throughout
        as&nbsp;"OPS,"&nbsp;"we"&nbsp;or&nbsp;"us"), offer a variety of products
        and services, including SeeYa! websites and applications&nbsp;("SeeYa!
        Mobile, SeeYa! For Business, SeeYa! Valet, " etc.), and content; our
        e-commerce websites and applications&nbsp;("seeyamobile.com, "
        etc.);&nbsp;and all other current and future digital products and
        service offerings we make available, including any products services,
        and content provided in collaboration with our partners (collectively,
        the&nbsp;"Services" or “OPS Services”).
      </p>

    </div>
  </div>
</div>
