<div class="grid-container">
  <div class="navigation">
    <nav class="navigation__container sides-padding fade-in-navigation">
      <div class="logo">
        <i class="icon logo-magnet" routerLink="/"></i>
        <button class="outline m-t-2 btn-login-mobile" routerLink="/contactus">Crear Lead Magnet</button>
      </div>
      <div class="menu desktop">
        <button class="btn outline" routerLink="/contactus">Crear Lead Magnet</button>
      </div>
      <!-- <div class="menu mobile">
        <button>
          <a (click)="toogleMobileMenu = !toogleMobileMenu"
            ><i class="fas fa-bars"></i
          ></a>
        </button>
        <div *ngIf="toogleMobileMenu" class="items-container">
          <div>
            <div class="main sides-padding">
              <img src="/assets/img/logo@2x.png" alt="seeya logo" />
              <button>
                <a (click)="toogleMobileMenu = !toogleMobileMenu"
                  ><i class="fas fa-bars"></i
                ></a>
              </button>
            </div>
          </div>
          <ul>
            <li>
              <a routerLink="/about-us" routerLinkActive="active">About Us</a>
            </li>
            <li>
              <a routerLink="/careers" routerLinkActive="active">Careers</a>
            </li>
            <li>
              <a routerLink="/contactus" routerLinkActive="active">Contact Us</a>
            </li>
          </ul>
          <button><a href="#">Business Login</a></button>
        </div>
        <div
          *ngIf="toogleMobileMenu"
          (click)="toogleMobileMenu = !toogleMobileMenu"
          class="backdrop"
        ></div>
      </div> -->
    </nav>
  </div>
  <div class="content">
     <!--Hero Header-->
    <div class="header">
     <!-- call to action -->
      <section class="hero-content">
        <div class="bg-picture sides-padding">
          <div class="info">
            <h1>Convierte Clicks<br> en Clientes!</h1>
            <div class="features-box">
              <div>
               <ul>
                 <li>
                   <i class="icon icon-check"></i>
                    Genera leads de calidad
                 </li>
                 <li>
                  <i class="icon icon-check"></i>
                  Usos ilimitados
                 </li>
               </ul>
              </div>
              <div>
               <ul>
                 <li>
                  <i class="icon icon-check"></i>
                  Gratis para siempre
                 </li>
                 <li>
                  <i class="icon icon-check"></i>
                  No requiere suscripción
                 </li>
               </ul>
              </div>
            </div>
          </div>
          <!-- Left Elements -->
          <div class="bg-elements left-element water-3d move-up-down">
            <img class="follow-mouse" src="../../../assets/img/landing-page/hero/water-3d-icon.png" alt="calcular agua para tomar">
          </div>
         <div class="bg-elements left-element imc-3d move-up-down">
            <img class="follow-mouse" src="../../../assets/img/landing-page/hero/imc-3d-icon.png" alt="">
          </div>
           <div class="bg-elements left-element money-3d-blur">
            <img class="follow-mouse" src="../../../assets/img/landing-page/hero/money-app-3d-icon.png" alt="">
          </div>
          <div class="bg-elements left-element taxes-3d move-down-up">
            <img class="follow-mouse" src="../../../assets/img/landing-page/hero/taxes-3d-icon.png" alt="">
          </div>
          <div class="bg-elements left-element circle-blue move-down-up">
            <img src="../../../assets/img/landing-page/hero/circle-blue.png" alt="">
          </div> 
          <!-- Right Elements -->
          <div class="bg-elements right-element ideal-3d move-down-up">
            <img class="follow-mouse" src="../../../assets/img/landing-page/hero/ideal-weight-3d-icon.png" alt="calcular agua para tomar">
          </div>
          <div class="bg-elements right-element taxes-3d ">
            <img class="follow-mouse" src="../../../assets/img/landing-page/hero/taxes-3d-icon.png" alt="calcular agua para tomar">
          </div>
          <div class="bg-elements right-element app-3d move-down-up">
            <img class="follow-mouse" src="../../../assets/img/landing-page/hero/money-app-3d-icon.png" alt="calcular agua para tomar">
          </div>
          <div class="bg-elements right-element web-3d move-up-down">
            <img class="follow-mouse" src="../../../assets/img/landing-page/hero/web-3d-icon.png" alt="calcular agua para tomar">
          </div>
          <div class="bg-elements right-element star-3d move-down-up">
            <img src="../../../assets/img/landing-page/hero/circle-yelow.png" alt="calcular agua para tomar">
          </div>
          <div class="bg-elements right-element duo-circles-3d move-up-down">
            <img class="follow-mouse" src="../../../assets/img/landing-page/hero/two-circles.png" alt="calcular agua para tomar">
          </div>

        </div>
      </section>

      <!--Waves end-->
    </div>
    <!-- hero mobile -->
    <!-- <section class="hero-banner-mobile">
      <div class="hero-banner__title sides-padding grid-container">
        <div class="titles fade-in-caption">
          <h1>Accidents happen which is why we are here to help you.</h1>
        </div>
        <div class="picture text-center fade-in-image">
          <picture>
            <source
              media="(max-width: 500px)"
              srcset="/assets/img/mobile-hand-4mobile@2x.png"
            />
            <img src="/assets/img/mobile-hand-4mobile@2x.png" alt="seeya" />
          </picture>
          <h6>
            The CrashPal™ app streamlines and simplifies the documentation
            process after an accident.
          </h6>
          <div class="input-request-demo">
            <input type="text" placeholder="name@domain.com" />
            <input type="button" value="Request Demo" />
          </div>
        </div>
      </div>
      <div class="svg-wrapper">
        <picture>
          <source
            media="(max-width: 500px)"
            srcset="/assets/img/shape-mobile@2x.png"
          />
          <img src="/assets/img/shape-mobile@2x.png" alt="shapeseeya" />
        </picture>
      </div>
    </section> -->
    <!-- cards calculator -->
    <section class="catalog-background">
      <div class="cards-calculators sides-padding">
        <div class="emoji-3d emoji3d-move-down-up">
          <img src="../../../assets/img/landing-page/emoji-pencil.png" alt="">
        </div>
        <app-catalog></app-catalog>
      </div>
    </section>
    <!-- description 1 -->
    <section class="description-1">
      <div class="hero-image">
        <div class="top-layer user-icon move-up-down">
          <img class="follow-mouse" src="../../../assets/img/landing-page/feature1/top-icon.png" alt="">
        </div>
        <div class="top-layer star1-icon move-down-up">
          <img class="follow-mouse" src="../../../assets/img/landing-page/feature1/top-star.png" alt="">
        </div>
        <div class="top-layer emoji move-down-up">
          <img class="follow-mouse" src="../../../assets/img/landing-page/feature1/emoji-happy-face.png" alt="">
        </div>
        <div class="top-layer bottom-star move-up-down">
          <img class="follow-mouse" src="../../../assets/img/landing-page/feature1/bottom-left-star.png" alt="">
        </div>
        <div class="top-layer bottom-icon move-down-up">
          <img class="follow-mouse" src="../../../assets/img/landing-page/feature1/bottom-left.png" alt="">
        </div> 

       <img class="bg-layer" src="../../../assets/img/landing-page/feature1/bg-image.png" alt="">
      </div>
      <div class="wording sides-padding">
        <h2>
          <span class="blue text-big">200%</span> más conversiones!
        </h2>
        <p>
          Empieza la relación con tus visitantes con el pie derecho! Integrando  
          <span 
          tooltip="<strong>Mags</strong> son magnetic leads que harán volar tus ventas. 🚀" 
          placement="top" showDelay="500">mags</span> generarás verdadero valor al público que buscas llegar y ellos volveran, Garantizado!
          <strong> Nuestros <span 
            tooltip="<strong>Mags</strong> son magnetic leads que harán volar tus ventas. 🚀" 
            placement="top" showDelay="500">mags</span> ayudan a Landing Pages como el tuyo a convertir entre un 200% y 300% más que con aburridos forms.</strong>
        </p>
        <div class="cta m-t-5">
          <button class="arrow-btn">
            <a class="arrow text-bold">Quiero una demostración</a>
          </button>
        </div>
      </div>
    </section>
    <!-- description 2 -->
    <section class="description-2 m-t-5">
      <div class="wording sides-padding">
        <h2>
          <span class="blue">Integralos</span> con rapidez.
        </h2>
        <p>
          Puedes embeber en tu sitio web desde nuestro catalogo de Mags (Completamente gratis) o si prefieres te comunicas y lo haremos por ti, sin problema!
        </p>
        <div class="cta m-t-5">
          <button class="arrow-btn">
            <a class="arrow text-bold">Hazlo por mi!</a>
          </button>
        </div>
      </div>
      <div class="hero-image">
        <div class="top-layer bulb-light move-up-down">
          <img class="follow-mouse" src="../../../assets/img/landing-page/feature2/bulb-light.png" alt="">
        </div>
       <!--  <div class="top-layer emoji move-down-up">
          <img class="follow-mouse" src="../../../assets/img/landing-page/feature2/emoji-inlove.png" alt="">
        </div>
        <div class="top-layer hand-icon move-up-down">
          <img class="follow-mouse" src="../../../assets/img/landing-page/feature2/handicon.png" alt="">
        </div> -->

       <img class="bg-layer" src="../../../assets/img/landing-page/feature2/bg-picture.png" alt="">
      </div>
    </section>
    <!-- cta 1 -->
    <section class="cta-project sides-padding">
      <div>
        <app-cta-catalog-items></app-cta-catalog-items>
      </div>
    </section>
    <section>
      <app-footer></app-footer>
    </section>
  </div>
</div>
