<section class="footer">
  <div class="content sides-padding">
    <div class="col1">
     <i class="icon logo-magnet" routerLink="/"></i>
      <p>Magnet™ app streamlines and simplifies the <br class="desktop-break"> documentation
        process after an accident.</p>
      <!-- <button class="arrow-btn">
        <a class="arrow text-bold">View a Demo</a>
      </button> -->
    </div>
    <div class="col2">

    </div>
    <div class="col3">
      <p><strong>Links</strong></p>
      <ul>
        <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
        <li><a routerLink="/careers" routerLinkActive="active">Careers</a></li>
        <li><a routerLink="/contactus" routerLinkActive="active">Contact Us</a></li>
      </ul>
    </div>
    <div class="col4">
      <p><strong>Contact Us</strong></p>
      <p>
        Explore the future with us. Feel free to get in touch.
      </p>
      <a target="_blank" href="mailto:info@crashpal.com?subject=Information%20%7C%20SeeYa%20Portal">info@crashpal.com</a>
    </div>
  </div>
  <div class="end sides-padding">
    <div class="container-end">
      <div>
        <p>Magnet 2022. All Right Reserved</p>
      </div>
      <div class="social-media">
        <ul>
          <li>
            <a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy&nbsp; | </a>
          </li>
          <li>
            <a routerLink="/terms-of-use" routerLinkActive="active">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
