<section class="footer">
  <div class="content sides-padding">
    <div class="col1">
     <i class="icon logo-magnet" routerLink="/"></i>
      <p>MagnetLeads™ simplifica el proceso de crear <br class="desktop-break"> lead magnet para campañas de mkt digital.</p>
      <!-- <button class="arrow-btn">
        <a class="arrow text-bold">View a Demo</a>
      </button> -->
    </div>
    <div class="col2">

    </div>
    <div class="col3">
      <p><strong>Links</strong></p>
      <ul>
        <!-- <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li> -->
        <li><a routerLink="/careers" routerLinkActive="active">Careers</a></li>
        <li><a routerLink="/contactus" routerLinkActive="active">Contactos</a></li>
      </ul>
    </div>
    <div class="col4">
      <p><strong>Contáctanos</strong></p>
      <p>
        Explora el futuro junto a nosotros. Contáctanos en cualquier momento.
      </p>
      <a target="_blank" href="mailto:hola@magsleads.com?subject=Information%20%7C%20MagsLeads%20Portal">hola@magsleads.com</a>
    </div>
  </div>
  <div class="end sides-padding">
    <div class="container-end">
      <div>
        <p>MagnetLeads™  2022. All Right Reserved</p>
      </div>
      <div class="social-media">
        <ul>
          <li>
            <a routerLink="/privacy-policy" routerLinkActive="active">Políticas de Privacidad&nbsp; | </a>
          </li>
          <li>
            <a routerLink="/terms-of-use" routerLinkActive="active">Términos de Uso</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
