<div class="cta-container m-t-10 m-b-5">
  <div class="middle-txt">
    <h2>Tengo una idea para mi proyecto</h2>
    <button class="btn normal text-bold">Solicitar personalizacion</button>
  </div>
  <div class="icon-right move-down-up">
    <img class="icons follow-mouse" src="../../../../assets/img/cta-elements/rocket.png" alt="rocket icon">
  </div>
  <div class="icon-left move-up-down">
    <img class="icons follow-mouse" src="../../../../assets/img/cta-elements/voice.png" alt="voice icon">
  </div>
  <div class="background"></div>
</div>