.block {
  margin-bottom: 5em;
  h2 {
    margin-bottom: 2em;
  }
  table {
    width: 100%;
    tbody {
      tr {
        td {
          padding-top:10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
