
<div class="block">
  <h2>
    ¿Cómo se usa el IMC?
  </h2>
  <p>
    El IMC se usa como una herramienta de detección, pero no diagnostica la grasa corporal ni la salud de un individuo10. Para determinar si el exceso de peso es un riesgo para la salud, un proveedor de atención médica necesitará realizar evaluaciones adicionales. Estas evaluaciones pueden incluir la medición del grosor de los pliegues cutáneos, evaluaciones de la alimentación, la actividad física, y los antecedentes familiares.
  </p>
</div>
<div class="block">
  <h2>
    ¿Cómo se calcula el IMC?
  </h2>
  <p>
    El IMC se calcula de la misma manera tanto para adultos como para niños. El cálculo se basa en las siguientes fórmulas:
  </p>
  <table class="box-border-radius">
    <thead>
      <tr>
        <th class="text-left">Unidades de medida</th>
        <th class="text-left">Fórmula y cálculo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-bold v-align-top">Kilogramos y metros (o centímetros)</td>
        <td>Fórmula: peso (kg) / [estatura (m)]2
          Con el sistema métrico, la fórmula para el IMC es el peso en kilogramos dividido por la estatura en metros cuadrados. Debido a que la estatura por lo general se mide en centímetros, divida la estatura en centímetros por 100 para obtener la estatura en metros.
          
          Ejemplo: Peso = 68 kg, Estatura = 165 cm (1.65 m)
          Cálculo: 68 ÷ (1.65)2 = 24.98</td>
      </tr>
      <tr>
        <td class="text-bold v-align-top">Libras y pulgadas</td>
        <td>Fórmula: peso (lb) / [estatura (in)]2 x 703
          Calcule el IMC al dividir el peso en libras (lb) por la altura en pulgadas (in) cuadradas y multiplicar por un factor de conversión de 703.
          
          Ejemplo: Peso = 150 lb, Estatura = 5’5″ (65″)
          Cálculo: [150 ÷ (65)2] x 703 = 24.96</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="block">
  <h2>
    ¿Cuales son otras formas de evaluar el exceso de grasa corporal además del IMC?
  </h2>
  <p>
    Otros métodos para medir la grasa corporal incluyen mediciónes del grosor de los pliegues cutáneos (con calibres), pesaje bajo el agua, impedancia bioeléctrica, la absorciometría dual de rayos X (DXA) y la dilución de isótopos 1,2,3. Sin embargo, estos métodos no siempre están disponibles y o son costosos o requieren personal altamente capacitado para realizarlos. Además, muchos de estos métodos pueden ser difíciles de estandarizar entre los observadores o máquinas, lo cual complica las comparaciones de los estudios y periodos de tiempo.
  </p>
</div>