<div class="loginLayout__container">
  <div class="leftSide__container">
    <router-outlet></router-outlet>
  </div>
  <div class="rightSide__container rightSide__container--background">
    <div class="infoCard">
      <div class="infoCard__picture">
        <img src="/assets/img/login/icon.png" alt="crashpal" />
      </div>
      <div class="infoCard__label">
        Accidents happen which is why we are here to help you.
      </div>
    </div>
    <div class="pictureHand">
      <img src="/assets/img/login/hand-mobile@2x.png" alt="crashpal" />
    </div>
  </div>
</div>
