<app-header [sectionTitle]="sectionTitle"></app-header>
<div class="container-grid contactus sides-padding">
  <div class="col2">
    <div class="titles">
      <h1>Tes estamos buscando!</h1>
      <h4>OPORTUNIDADES ABIERTAS</h4>
      <div class="line"></div>
    </div>
    <div class="table-container table-responsive-md">

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Job Title</th>
                <th>Description</th>
                <th>Requirements</th>
                <th width="10%">Select</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let career of careers">
                <td><a [routerLink]="['/careers' , career.path]">{{career.position}}</a></td>
                <td>{{career.descriptionShort}}</td>
                <td>{{career.requirementsShort}}</td>
                <td><button class="select-btn" ><a (click)="onApply(career.position)">e-mail</a></button></td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
