<section class="{{ headerColor }}">
  <div class="header-item sides-padding">
    <div class="col1">
      <button (click)="onBack()" class="white m-b-2">
        <i class="fa-solid fa-chevron-left"></i>Calculadoras
      </button>
      <h2 class="m-b-0">{{ this.calculator?.itemHeadline }}</h2>
      <p>{{ this.calculator?.byline }}</p>
    </div>
    <div class="col2">
      <div class="box-item shadow-calculator">
        <div class="icon-header">
          <img [src]="this.calculator?.src" [alt]="this.calculator?.name" />
        </div>
        <div class="box-content">
          <div class="reactions">
            <div class="likes">
              {{ this.calculator?.countLikes }}
            </div>
            <div class="views">
              {{ this.calculator?.countViews }}
            </div>
          </div>
          <div class="share-options">
            <div>Compatir</div>
            <div class="social-icons">
              <ul>
                <li>
                  <a
                  [href]="'https://www.facebook.com/sharer/sharer.php?u=' + this.urlCalculator"
                    target="_blank"
                    ><i class="icon icon-facebook"></i
                  ></a>
                </li>
                <li>
                  <a
                    [href]="'https://twitter.com/intent/tweet?text=Calcula%20tu%20indice%20de%20masa%20corporal%20ahora%20' + this.urlCalculator"
                    target="_blank"
                  >
                    <i class="icon icon-tw"></i>
                  </a>
                </li>
                <li>
                  <a
                    [href]="'mailto:?body=Calcula%20tu%20%C3%ADndice%20de%20masa%20corporal%20ahora%20' + this.urlCalculator"
                    target="_blank"
                  >
                    <i class="icon icon-email"></i>
                  </a>
                </li>
                <li>
                  <a
                    [href]="'whatsapp://send?text=Calcula%20tu%20%C3%ADndice%20de%20masa%20corporal%20ahora%20' + this.urlCalculator"
                  >
                    <i class="icon icon-ws"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="actions-buttons">
            <button class="outline" (click)="embedThis()">Embeber en mi proyecto</button>
            <button class="normal" routerLink="/contactus">
              Solicitar Customizacion
            </button>
          </div>
        </div>
      </div>
      <div class="left-top-star move-up-down">
        <img
          class="follow-mouse"
          src="../../../../assets/img/3d-elements/catalog-items/star1.svg"
          alt="Star 3d"
        />
      </div>
      <div class="right-top-circle move-down-up">
        <img
          class="follow-mouse"
          src="../../../../assets/img/3d-elements/catalog-items/circle-blue-large.svg"
          alt="Circle 3d"
        />
      </div>
      <div class="left-bottom-circle move-down-up">
        <img
          class="follow-mouse"
          src="../../../../assets/img/3d-elements/catalog-items/circle-yellow-sm.svg"
          alt="Circle 3d"
        />
      </div>
      <div class="right-bottom-star move-up-down">
        <img
          class="follow-mouse"
          src="../../../../assets/img/3d-elements/catalog-items/star2.svg"
          alt="Star 3d"
        />
      </div>
      <div class="blurred-fx"></div>
    </div>
  </div>
</section>
<div class="sides-padding">
  <div class="definition m-t-2 m-b-5">
    <h2 class="m-b-1 m-t-2">{{ calculator?.titleDefinition }}</h2>
    <p>
      {{ calculator?.definition }}
    </p>
  </div>

  <div *ngIf="calculator?.name === 'calculadora-imc'">
    <app-bmi-calculator></app-bmi-calculator>
    <div class="m-t-5 m-b-5">
      <app-bmi-explanation></app-bmi-explanation>
    </div>
  </div>
  <div *ngIf="calculator?.name === 'calculadora-agua'">
    <app-water-calculator></app-water-calculator>
    <div class="m-t-5 m-b-5">
     <app-water-explanation></app-water-explanation>
    </div>
  </div>
  <div *ngIf="calculator?.name === 'calculadora-peso-ideal'">
    <app-ideal-weight-calculator></app-ideal-weight-calculator>
  </div>
  <div>
    <app-cta-catalog-items></app-cta-catalog-items>
  </div>
</div>


<div class="confirmation-modal" *ngIf="this.showEmbedModal">
  <div class="title-header">
    <h6>Hey! querido Developer.</h6>
  </div>
  <div class="content">
    <div class="check">
      <div class="copied" *ngIf="isCopied">Copiado!</div>
      <code tooltip="Click para copiar." 
        placement="top" showDelay="500" (click)="copy(this.iframeCode)">
        {{this.iframeCode}}
      </code>
    </div>
    <h6>
      Estamos ansiosos de ayudarte a convertir más Clientes, copia el siguiente código en tu website y nosotros nos encargamos del resto, tendrás acceso gratuito a este lead magnet sin molesta publicidad ni cargo alguno. No hay Trucos!
    </h6>
    <small>Si tienes algún problema o quisieras que hagamos la implementación por ti por favor escríbenos a hola@magsleads.com</small>
  </div>
  <button class="btn m-t-2" (click)="onDismiss()">Listo!</button>
</div>
<div class="background-modal" *ngIf="this.showEmbedModal"></div>